{% extends 'base.html' %}

{% block title %}Add Data Point{% endblock %}

{% block header %}Add Data Point{% endblock %}

{% block content %}
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" action="{% url 'add' %}" class="bg-light p-4 rounded text-center">
                    {% csrf_token %}
                    {{ form.as_p|safe }}

                    <button type="submit" class="btn btn-secondary mx-auto d-block">Add Data Point</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
