{% extends 'base.html' %}

{% block title %}Predict Category{% endblock %}
{% block header %}Predict{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <form method="post" action="{% url 'predict' %}" class="bg-light p-4 rounded">
            {% csrf_token %}
            {% for field in fields %}
                <div class="mb-3 text-center">
                    <label for="{{ field }}" class="form-label">{{ field }}:</label>
                    <input type="number" name="{{ field }}" class="form-control" required step="any">
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-secondary mx-auto d-block">Predict</button>
        </form>
    </div>
{% endblock %}
